<p-image [src]="character[0].image.super_url" [alt]="character[0].name" width="250" height="250" [preview]="true"></p-image>

<p-fieldset legend="Profile" [toggleable]="true">
    <p>Name: {{character[0].name ?? "Missing"}}</p>
    <p>Real Name: {{character[0].real_name ?? "Missing"}}</p>
    <p>Gender: {{character[0].gender ?? "Missing"}}</p>
    <p>Birth: {{character[0].birth ?? "Missing"}}</p>
    <p>Origin: {{character[0].origin.name ?? "Missing"}}</p>
    <p>Deck: {{character[0].deck ?? "Missing"}}</p>
</p-fieldset>
<p-fieldset legend="Description" [toggleable]="true">
    <p>{{character.description ?? "Missing"}}</p>
</p-fieldset>
<p-fieldset legend="Appearances" [toggleable]="true">
    <p>Publisher: {{character[0].publisher.name ?? "Missing"}}</p>
    <p>First appearance in: {{character[0].first_appeared_in_issue.name ?? "Missing"}}</p>
    <p>issue number: {{character[0].first_appeared_in_issue.issue_number ?? "Missing"}}</p>
</p-fieldset>
